
<div class="container">
<div class="p-2"></div>

<h2>Would you like to add another pizza?</h2> 
<div class="p-2"></div>

  <div >
    <form action="/addpizza/create" method="post"> 
      <button class="btn btn-primary type="submit">Add another pizza</button>
    </form>
    <div class="p-2"></div>
      <form action="/checkout/create" method="get"> 
        <button class="btn btn-primary type="submit">View Cart</button>
      </form>
  </div>
</div>






