@model PizzaBox.Client.Models.CustomerViewModel


<div class="p-3"></div>
<h2>Customer Information</h2>
<p>Please enter customer data so that we can take your order!</p>

<div class="p-1"></div>

<form action="/customer/create" method="post"> 
   <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
      @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })
          @* @Html.ValidationMessageFor(m => m.SelectedCrust, "", new { @class = "text-danger" }) *@
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
      @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>

     <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
      @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
    </div>

    

    @* <div class="p-1"></div> *@
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="p-2"></div>


<a href="/findcustomer/index" class="btn btn-primary" role="button" aria-pressed="true">Returning Customer</a>

@* <a asp-controller="customer">Make an order - index.cshtml</a> *@