   <div class="p-3"></div>


<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <form action="/Order/index" method="get"> 
    <button class="btn btn-lg btn-primary" type="submit">Order a Pizza</button>
</form>
    </div>
    <div class="col-4"></div>
  </div>
</div>



<div class="p-5"></div>

<a asp-controller="order">Make an order - index.cshtml</a>
<a asp-controller="customer">Customer info</a>
<a asp-controller="addpizza">Add a Pizza</a>
<a asp-controller="checkout">Checkout</a>
<a asp-controller="customeraccount">Customer Account</a>
<a asp-controller="selectstore">Select Store</a>
<a asp-controller="storeportal">Store Portal</a>
<a asp-controller="choosepizza">Choose Pizza</a>
<a asp-controller="findcustomer">Find Customer</a>
